<style>
  #map {
    width: 100%;
    height: 400px;
  }
</style>


<h1 class="banner-title">Where's the companies?</h1>
<div id="map" style="width:100%;height:500px"></div>


<section class="table-section">
  <div class="table-filters">
    <!--<label>Search: <input type="text" ng-model="searchString"></label>-->
    <label>Company<input ng-model="searchString.name"></label>
    <label>City<input ng-model="searchString.city"></label>
    <label>Cost
      <select data-ng-model="searchString.costOfLiving">
        <option value="">All</option>
        <option value="Outragous">Outragous</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
        <option value="Dirt Cheap">Dirt Cheap</option>

      </select>
    </label>
  </div>

  <table class="pure-table">
    <thead>
    <tr>
      <!--<pre>Sort by = {{propertyName}}; reverse = {{reverse}}</pre>-->
      <th ng-click="sortBy('name')">Company <i class="fa fa-fw fa-sort"></i></th>
      <th ng-click="sortBy('city')">City <i class="fa fa-fw fa-sort"></i></th>
      <th ng-click="sortBy('costOfLiving')">Cost of Living <i class="fa fa-fw fa-sort"></i></th>
      <th>Show On Map</th>
    </tr>
    </thead>
    <tr ng-repeat="x in locations | orderBy:propertyName:reverse |filter:searchString:strict">
      <td>{{ x.name }}</td>
      <td>{{ x.city }}</td>
      <td>{{ x.costOfLiving }}</td>
      <td><button ng-click="zoomInOnMap(x.lat,x.long)">Zoom</button></td>
    </tr>
  </table>
</section>


<script defer async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKpXvFzCNpYWfbR5oi2abPqzoZXOxsrVo&callback=initMap">
</script>


